$primary-color:grey;
$secondary-color:3px solid coral;
$text-color:black;

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}

header
{
    height: 250px;
    font-size:25px;
    line-height: 250px;
}

main
{
    padding:40px;
}

footer
{
    font-size: 20px;
    padding: 50px 0;
}

header,footer
{
    color:$text-color;
    background-color:$primary-color;
    border:$secondary-color;
}

